.closeable-modal .modal-dialog {
	max-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.closeable-modal .modal-dialog .modal-content {
	padding: 6rem 0 3rem 0;
	border: 0;
	border-radius: 0;
}

.closeable-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: transparent;
}

.closeable-modal .close-modal:hover {
	opacity: 0.3;
}

.closeable-modal .close-modal .lr {
	/* Safari and Chrome */
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	/* IE 9 */
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #2C3E50;
}

.closeable-modal .close-modal .lr .rl {
	/* Safari and Chrome */
	z-index: 1052;
	width: 1px;
	height: 75px;
	/* IE 9 */
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	background-color: #2C3E50;
}

.closeable-modal .modal-backdrop {
	display: none;
	opacity: 0;
}